<% provide(:title, "Sign Up") %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend class="control-label">School</legend>
    <% User.schools.keys.each do |school| %>
      <div class="radio">
        <label>
          <%= f.radio_button :school, school, required: true, "aria-required" => "true" %>
          <%= t(school, scope: [:activerecord, :attributes, :user, :schools]) %>
        </label>
      </div>
    <% end %>
  </fieldset>

  <div class="form-group">
    <%= f.label :email, class: "control-label" %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "control-label" %>
    <% if @validatable %>
    <em class="hint">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <fieldset>
    <legend class="control-label">Program</legend>
    <% User.roles.only(:undergrad, :grad).keys.each do |role| %>
      <div class="radio">
        <label>
          <%= f.radio_button :role, role, required: true, "aria-required" => "true" %>
          <%= t(role, scope: [:activerecord, :attributes, :roles]) %>
        </label>
      </div>
    <% end %>
  </fieldset>

  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
