<article class="comment" id="comment-<%= comment.id %>">
  <header>
    <div>
      <p><%= local_time comment.created_at %></p>
      <% if policy(comment).update? %>
        <p><%= link_to "edit", edit_comment_path(comment) %></p>
      <% end %>
      <% if policy(comment).approve? %>
        <%= button_to "approve", comment_approval_path(comment), class: "btn-link" %>
      <% end %>
      <% if policy(comment).destroy? %>
        <%= button_to "delete", comment, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-link" %>
      <% end %>
    </div>
    <h4><cite><%= comment.author_name %></cite> says:</h4>
  </header>
  <% if comment.pending? %>
    <div class="alert alert-warning">
      This question is awaiting approval from an admin. It can only be seen by
      the author and admins.
    </div>
  <% end %>
  <%= simple_format comment.text %>
  <% if comment.root? && comment.approved? %>
    <% if comment.replies.present? %>
      <section>
        <h5 class="sr-only">Replies</h5>
        <div class="replies">
          <%= render comment.replies %>
        </div>
      </section>
    <% end %>
    <%= link_to "reply", new_comment_reply_path(comment), remote: true, class: "reply-link" %>
  <% end %>
</article>
