<tr>
  <td><%= link_to article.title, article %></td>
  <td><%= article.status %></td>
  <td><%= article.author_name %></td>
  <td class="text-right"><%= article.comments.count %></td>
  <td><%= local_date article.created_at %></td>
  <td>
    <%= link_to "edit", edit_article_path(article) %>
    <% if policy(article).approve? %>
      <%= button_to "approve", article_approval_path(article), class: "btn-link" %>
    <% end %>
    <%= button_to "delete", article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-link" %>
  </td>
</tr>
