<section>
  <h3>At a glance</h3>
  <div class="row">
    <p class="col-sm-4">
      <%= link_to "#{pluralize(Article.pending.count, "blog")} pending approval", admin_articles_path %>
    </p>
    <p class="col-sm-4">
      <%= link_to "#{pluralize(Comment.pending.count, "question")} pending approval", admin_comments_path %>
    </p>
    <p class="col-sm-4">
      <%= link_to "#{pluralize(Question.count, "control question")}", admin_questions_path %>
    </p>
  </div>
  <div class="row">
    <p class="col-sm-4">
      <%= link_to "#{pluralize(Comment.unanswered.count, "question")} unanswered", admin_comments_path %>
    </p>
    <p class="col-sm-4">
      <%= link_to pluralize(User.count, "user"), admin_users_path %>
    </p>
  </div>
</section>
