<nav id="main-nav" role="navigation">
  <header>
    <h2 class="pull-left"><%= content_for?(:heading) ? yield(:heading) : yield(:title) %></h2>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#p1g-nav-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </header>
  <div class="collapse navbar-collapse" id="p1g-nav-collapse">
    <ul class="nav nav-pills pull-right">
      <li class="<%= "active" if current_page?(root_path) %>">
        <%= link_to "About", root_path %>
        <% if current_page?(root_path) %>
          <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <% if policy(Article.new).index? %>
        <li class="<%= "active" if current_page?(articles_path) %>">
          <%= link_to "Blogs", articles_path %>
          <% if current_page?(articles_path) %>
            <span class="sr-only">(current)</span>
          <% end %>
        </li>
      <% end %>
      <li class="<%= "active" if current_page?(new_comment_path) %>">
        <%= link_to "Ask a Question", new_comment_path %>
        <% if current_page?(new_comment_path) %>
          <span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="<%= "active" if current_page?(resources_path) %>">
        <%= link_to "Resources", resources_path %>
        <% if current_page?(resources_path) %>
          <span class="sr-only">(current)</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
