<aside class="col-sm-4 hidden-xs">
  <%= form_tag(search_articles_path, method: :get) do %>
    <%= label_tag :q, "Article search", class: "sr-only" %>
    <div class="input-group">
      <%= search_field_tag :q, nil, class: "form-control", placeholder: "Search&hellip;".html_safe %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <span class="sr-only">Search for matches</span>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  <% end %>
  <nav>
    <h3>Recent Blogs</h3>
    <ul class="list-unstyled">
      <% Article.recent.each do |article| %>
        <li>
          <%= link_to article.title, article %>
          <%= local_time article.created_at, "%B %e, %Y" %>
        </li>
      <% end %>
    </ul>
  </nav>
  <nav>
    <h3>Recent Questions</h3>
    <ul class="list-unstyled">
      <% Comment.recent.each do |comment| %>
        <li>
          <%= comment.author_name %> on
          <%= link_to comment.article.title, comment.article, anchor: "comment-#{comment.id}" %>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>
