<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %><%= yield(:title) %> |<% end %>
    Project First-Gen
  </title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condesnsed:300' rel='stylesheet'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container <%= "devise" if devise_controller? %>">
  <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
  <header id="site-header">
    <h1>
      <%= link_to_unless_current root_path do %>
        <%= image_tag "PFG-Logo-trans-300x64.png", alt: "Project First-Gen", size: "300x64" %>
      <% end %>
    </h1>
    <div id="current-user">
      <% if signed_in? %>
        Hi, <%= link_to current_user.name, edit_user_registration_path(current_user) %> |
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn-link" %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </header>
  <%= render "layouts/flash", message: notice, alert_type: "info" if notice.present? %>
  <%= render "layouts/flash", message: alert, alert_type: "danger" if alert.present? %>
  
  <div class="page">
    <%= render "layouts/main_nav" %>
    <main role="main" id="main" tabindex="0">
      <%= yield %>
    </main>
  </div>
</body>
</html>
